@model MVCQuiz.Models.Car;

@{
    
    ViewData["Title"] = "Car Page";
}

<div class="text-center" style="background-color: @Model.color">
    <h1 class="display-4">@Model.name</h1>
    <h2 class="display-4">@Model.year</h2>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>